<html>
    <header>
        <title>Trang chủ</title>
        <meta charset="utf-8"/>
    </header>
    <body>
        <form action="/result" method="POST">
            <input type="text" name='value' value="https://www.amazon.com/Best-Sellers/zgbs/ref=zg_bs_unv_0_12034493011_2">
            <input type="submit" value="Bóc tách">
        </form>
    </body>

</html>