
<html >
    <header>
        <title>Trang kết quả</title>
        <meta charset="utf-8"/>
         <script type="text/javascript" src="https://code.angularjs.org/1.4.9/angular.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.9/angular-route.min.js"></script>
        <script type="text/javascript" src="https://code.angularjs.org/1.4.9/angular-resource.min.js"></script>
    </header>
    <body ng-app="myApp" ng-controller="myCtrl">
        {{name}}
    </body>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.name = "John Doe";
        });
    </script>
</html>


 